<header class="header-section">
    <div class="container">
        <div class="logo">
            <a routerLink="/home">
                <img src="assets/img/logo.png" alt="" >
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                 
                    <li><a routerLink="/evenement">Evenement</a></li>
                    <li><a href="#">gouvernorat</a>
                        <ul class="dropdown">
                            <li><a href="#">Ariana</a></li>
                            <li><a href="#">Ben Arous</a></li>
                            <li><a href="#">Bizert</a></li>
                            <li><a href="#">Béja</a></li>
                        </ul>
                    </li>
                    
                    <li><a routerLink ="/contact">Contacts</a></li>
                </ul>
            </nav>
            <a routerLink="/login" class="primary-btn top-btn"><i class="fa fa-ticket"></i> Login</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->