

    <body>
        <br>
        <br>
<div class="ticket">
	<div class="left">
		<div class="image">
			<p class="admit-one">
				<span>ADMIT ONE</span>
				<span>ADMIT ONE</span>
				<span>ADMIT ONE</span>
			</p>
			<div class="ticket-number">
				<p>
					#20030220
				</p>
			</div>
		</div>
		<div class="ticket-info">
			<p class="date">
				<span>TUESDAY</span>
				<span class="june-29">JUNE 29TH</span>
				<span>2021</span>
			</p>
			<div class="show-name">
				<h1>Carthage</h1>
				<h2>woodruff.p.s</h2>
			</div>
			
			
		</div>
	</div>
	<div class="right">
		<p class="admit-one">
			<span>ADMIT ONE</span>
			<span>ADMIT ONE</span>
			<span>ADMIT ONE</span>
		</p>
		<div class="right-info-container">
			<div class="show-name">
				
			</div>
			<div class="time">
				<p>8:00 PM <span>TO</span> 11:00 PM</p>
				<p>DOORS <span>@</span> 7:00 PM</p>
			</div>
			<div class="barcode">
                <qr-code [value]="'name : Carthage  event: woodruff ownerTickets : salim mattoussi'"></qr-code>
			</div>
			<p class="ticket-number">
				#20030220
			</p>
		</div>
	</div>
</div>
<br>
<button class="imprime" type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">imprime</button>
</body>
