<app-navbar></app-navbar>


<a routerLink="/eventForm">Ajouter evenement</a>
<!-- list-events(cards)  -->
<div class="card" style="width: 18rem;" >
  <img src="../../assets/img/hafla.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Event name</h5>
    <p class="card-text">Desc.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Date</li>
    <li class="list-group-item">Lieu </li>

  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Event details</a>
    <a href="#" class="card-link">Ajouter au panier</a>
  </div>

</div>


<app-footer></app-footer>


<!-- *ngFor="let event of list" -->



