.gradient-custom-3 {
    /* fallback for old browsers */
    background: #F94444;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(87, 70, 70, 0.5), rgba(109, 95, 64, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(91, 66, 66, 0.5), rgba(58, 53, 43, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #DB9812;
    color: white;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(248, 182, 50), rgb(238, 96, 96));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(253, 192, 68), rgb(241, 78, 78))
    }
  .example-full-width{
    width: 100%;
  }