
<form #f="ngForm">
    <div class="register-photo" >
          <div class="form-container">
              <div class="image-holder"></div>
              <form method="post">
                  <h2 class="text-center"><strong>Ajout</strong>publicite</h2>
    
                  <div class="form-group">
                  <select class="form-control"  list="browsers" name="browser" id="browser"  placeholder="category" 
                  [(ngModel)]="publicite.category"  #c="ngModel"  required  >
                  
                   <option id="sportif">sportif</option>
                   <option value="musical">musical</option>
                   <option value="culturel">culturel</option>
                   <option value="autre">autre</option>
                   </select>
                 </div>
                 <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
                  <p *ngIf="c.hasError('required')" >Name is required</p>
                </div>
    
    
                  <div class="form-group"><input class="form-control" type="text" name="name" placeholder="titre publicite"
                    [(ngModel)]="publicite.title"  #t="ngModel"  required minlength="4"></div>
                  <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
                    <p *ngIf="t.hasError('required')" >Name is required</p>
                    <p *ngIf="t.hasError('minlength')"> minlength error</p>
                  </div>
                    
                  
    
                    <div class="form-group"><textarea class="form-control"  name="description" placeholder="Description"
                      [(ngModel)]="publicite.description"  #d="ngModel"  required minlength="15"></textarea></div>
               <div class="alert alert-danger" *ngIf="d.invalid && d.touched">
                <p *ngIf="d.hasError('required')" >Name is required</p>
                <p *ngIf="d.hasError('minlength')"> minlength error</p>
               </div>
                 
    
               <div class="form-group"><input class="form-control" type="text" name="name" placeholder="ajouter des images"
                [(ngModel)]="publicite.file"  #im="ngModel"  required minlength="4"></div>
              <div class="alert alert-danger" *ngIf="im.invalid && im.touched">
                <p *ngIf="im.hasError('required')" >url is required</p>
               
              </div>
    
              
    
                  <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" (onclick)=" save()" [disabled]="f.invalid">Ajouter</button>
                  </div>
                  <!-- <a href="#" class="already">You already have an account? Login here.</a> -->
                </form>
          </div>
      </div>
    </form>